
.header-container{
    background-image: url('../../../images/blackmobile.jpg');
    background-size:cover;
    background-position: relative;
    height:800px;
    
    
}
@media screen and (min-width: 350px) {
    .header-container{
        height:100%;
    }
  }